body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0 , 0%  , 90%);
}
.me{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    position: fixed;
    left: 50px;
    bottom: 50px;
    >h1{
        font-size: 30px;
        font-weight: 600;
        transition: .7s;
        >ul{
            list-style-type: none;
            margin-top: 10px;
            opacity: 0;
            transition: .7s;
            >li{
                font-size: 16px;
                margin-top: 5px;
                padding-bottom: 5px;
                border-bottom: 1px solid rgba(128, 128, 128, 0.377);
                cursor: pointer;
                padding: 10px;
                transition: .4s;
                &:hover{
                    background-color:rgba(128, 128, 128, 0.285) ;
                }
            }
        }
        &:hover{
            >ul{
                opacity: 1;
            }
        }
    }
}
#myh1{
    font-size: 4rem;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: hsl(0, 0%, 25%);
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 5px solid;
    border-radius: 50px;
    background-color: white;
}
#display{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: hsl(0, 0%, 30%);
    text-shadow: 2px 2px 2px rgba(0, 0%, 0%, 0.75);
    margin-bottom: 25px;
}
#controls{
    >button{
        font-size: 1.5rem;
        font-weight: bold;
        padding: 10px 20px;
        margin: 5px;
        min-width: 125px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        color: white;
        transition: 0.5s;
    }
}
#startbtn{
    background-color: hsl(115, 100%, 40%);
    &:hover{
        background-color: hsl(115, 100%, 30%);
    }
}

#stoptbtn{
    background-color: hsl(10, 90%, 50%);
    &:hover{
        background-color: hsl(10, 90%, 40%);
    }
}

#resetbtn{
    background-color: hsl(205, 90%, 60%);
    &:hover{
        background-color: hsl(205, 90%, 50%);
    }
}
